@import "bootstrap/bootstrap.scss";

.myHeader {
    background-image: url(../assets/img/pexels-george-dolgikh-1303098.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.myNavText {
    color: white;
}